<h1>
  <%= model_name_with_icon Collection, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_collection_path,
                       path_to_refresh: collections_path,
                       entity_model: Collection } %>
</h1>

<% if @storage %>
  <dl class="row">
    <dt class="col-md-2"><%= t :linked_with, scope: [:views], what: Storage.model_name.human %></dt>
    <dd class="col-md-10">
      <%= render partial: 'storages/oneline', locals: { storage: @storage } %>
    </dd>
  </dl>
<% end %>
<% if @document %>
  <dl class="row">
    <dt class="col-md-2"><%= t :linked_with, scope: [:views], what: Document.model_name.human %></dt>
    <dd class="col-md-10">
      <%= render partial: 'documents/oneline', locals: { document: @document } %>
    </dd>
  </dl>
<% end %>

<div class="row">
  <div id="collections-table">
    <div class="table" id="collections">
      <div class="table-body container-fluid">
        <%= render partial: 'collection', collection: @collections %>
      </div>
    </div>
  </div>
</div>
