<% native ||= false %>
<% source ||= @source %>

<div class="row">
  <label class="col-md-3"><strong><%= Source.human_attribute_name :title %></strong></label>
  <div class="col-md-9">
    <%= source.title %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Source.human_attribute_name :source_type %></strong></label>
  <div class="col-md-9">
    <%= t source.source_type, scope: [:activerecord, :attributes, :source, :source_types] %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Source.human_attribute_name :notes %></strong></label>
  <div class="col-md-9">
    <%= source.notes %>
  </div>
</div>
<% if native %>
  <div class="row">
    <label class="col-md-3"><strong><%= Archive.model_name.human(count: 2) %></strong></label>
    <ul class="col-md-9 list-group list-group-flush" id="archives-accordion" role="tablist" aria-multiselectable="true">
      <%= render partial: 'archives/nested_show', collection: source.archives, as: :archive %>
    </ul>
  </div>
<% end %>
