<% native ||= false %>
<% archive ||= @archive %>

<div class="row">
  <label class="col-md-3"><strong><%= Archive.human_attribute_name :title %></strong></label>
  <div class="col-md-9">
    <%= archive.title %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Archive.human_attribute_name :abbr %></strong></label>
  <div class="col-md-9">
    <%= archive.abbr %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Archive.human_attribute_name :notes %></strong></label>
  <div class="col-md-9">
    <%= archive.notes %>
  </div>
</div>
<% if native %>
  <div class="row">
    <label class="col-md-3"><strong><%= Source.model_name.human(count: 2) %></strong></label>
    <% if archive.sources.count > 0 %>
      <ul class="col-md-9 list-group list-group-flush" id="archive-sources-accordion" role="tablist" aria-multiselectable="true">
        <%= render partial: 'sources/nested_show', collection: archive.sources, as: :source %>
      </ul>
    <% else %>
      <div class="col-md-9">
        <%= t :non_associated, scope: [:views] %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <label class="col-md-3"><strong><%= Storage.model_name.human(count: 2) %></strong></label>
    <% if archive.storages.count > 0 %>
      <ul class="col-md-9 list-group list-group-flush" id="archive-storages-accordion" role="tablist" aria-multiselectable="true">
        <%= render partial: 'storages/nested_show', collection: archive.storages, as: :storage %>
      </ul>
    <% else %>
      <div class="col-md-9">
        <%= t :non_associated, scope: [:views] %>
      </div>
    <% end %>
  </div>
<% end %>
