<% content_for :entity_info, flush: true do %>
  <div class="col-content-language">
    <%= t content.language, scope: [:activerecord, :attributes, :content, :languages] %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if content.notes.nil? or content.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= content.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <% if content.deed.nil? %>
      <%= link_to nil, class: 'btn btn-sm btn-outline-secondary disabled' do %>
        <%= icon_for Deed %>
      <% end %>
    <% else %>
      <%= link_to deed_path(content.deed),
                  class: 'btn btn-sm btn-secondary',
                  title: t(:show_deed, scope: [:views, :content]),
                  data: { toggle: 'tooltip' },
                  remote: true do %>
        <%= icon_for Deed %>
      <% end %>
    <% end %>
    <%= link_to content_path(content),
                class: 'btn btn-sm btn-secondary',
                title: t(:show_translations, scope: [:views, :content]),
                data: { toggle: 'tooltip' },
                remote: true do %>
      <%= content.translations.count %>
      <%= icon_for ContentTranslation %>
    <% end %>
  </div>
<% end %>

<% content_for :entity_description, flush: true do %>
  <%= truncate content.content, length: 200, separator: ' ' %>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "content-#{content.id}", entity: content } %>
