<tr id="content-row-<%= content.id %>">
  <td class="col-content-language"><%= content.language.humanize %></td>
  <td class="col-content-content"><%= content.content %></td>
  <td class="col-content-assoc">
    <%= link_to content_translations_path(content_id: content.id),
                class: 'btn btn-sm btn-secondary',
                title: "show #{ContentTranslation.model_name.plural.humanize} linked",
                data: { toggle: 'tooltip' } do %>
        <%= content.translations.count %>
        <%= icon_for ContentTranslation %>
    <% end %>
  </td>
  <td class="col-content-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity content %>
      <%= link_to_edit_entity content %>
      <%= link_to_destroy_entity content %>
    </div>
  </td>
</tr>
