<h1>
  <%= model_name_with_icon Content, :plural %>
  <span class="btn-group">
    <%= link_to new_content_path,
                class: 'btn btn-sm btn-primary',
                id: 'btn-new-content',
                title: 'Add new Content',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
  </span>
</h1>

<div id="contents-table">
  <table class="table table-hover table-sm" id="contents">
    <thead>
    <tr>
      <th class="col-content-language"><%= Content.human_attribute_name :language %></th>
      <th class="col-content-content"><%= Content.human_attribute_name :content %></th>
      <th class="col-content-assoc">Associations</th>
      <th class="col-content-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'content', collection: @contents %>
    </tbody>
  </table>
</div>
