<div class="row form-group">
  <label class="col-md-3 form-control-label">
    <%= model_name_with_icon Archive, :plural %>
    <span class="pull-right">
      <%= content_tag :a,
                      icon('refresh', class: 'fa-fw'),
                      id: 'btn-refresh-nested-fields',
                      class: 'btn btn-sm btn-outline-default',
                      title: 'Refresh associations',
                      data: { toggle: 'tooltip' } %>
    </span>
  </label>
  <div class="col-md-9">
    <ul id="associate-archives" class="list-group list-group-flush">
      <% @storage.archives.each do |archive| %>
        <li id="associated-archive-<%= archive.id %>" class="list-group-item form-control">
          <%= archive.title %>
          <span class="btn-group btn-group-sm pull-right">
            <%= link_to_show_entity archive %>
            <%= link_to storage_path(@storage.id, sub_action: :deassociate, archive_id: archive.id),
                        method: :patch,
                        remote: true,
                        id: "btn-deassoc-archive-#{archive.id}",
                        class: 'btn btn-sm btn-danger',
                        title: 'Deassociate Archive',
                        data: { toggle: 'tooltip' } do %>
              <%= icon('minus', class: 'fa-fw') %>
            <% end %>
          </span>
        </li>
      <% end %>
      <li id="associate-archive-add" class="list-group-item form-control">
        <% if @unassociated[:archives].count > 0 %>
          <div class="form-group input-group">
            <%= text_field nil,
                           nil,
                           id: 'assoc-archive-input',
                           class: 'form-control form-control-sm',
                           type: 'text',
                           list: 'free-archives',
                           placeholder: 'Search for non-associated Archive' %>
            <%= content_tag :datalist, id: 'free-archives' do %>
              <% @unassociated[:archives].each do |archive| %>
                <%= content_tag :option, archive.title, data: {'archive-id': archive.id } %>
              <% end %>
            <% end %>
            <div class="input-group-btn">
              <%= content_tag :a,
                              icon('search', class: 'fa-fw'),
                              id: 'btn-show-selected-archive-details',
                              class: 'btn btn-sm btn-outline-info',
                              role: 'button' %>
              <%= content_tag :a,
                              icon('plus', class: 'fa-fw'),
                              id: 'btn-associate-selected-archive',
                              class: 'btn btn-sm btn-primary',
                              role: 'button' %>
            </div>
          </div>
        <% else %>
          no unassociated Archives
        <% end %>
      </li>
    </ul>
  </div>
</div>
