<h1>
  <%= model_name_with_icon Source, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_source_path,
                       path_to_refresh: sources_path,
                       entity_name: Source.model_name.human } %>
</h1>

<% if @archive %>
  <dl class="row">
    <dt class="col-md-2">associated with Archive</dt>
    <dd class="col-md-10">
      <%= render partial: 'archives/oneline', locals: { archive: @archive } %>
    </dd>
  </dl>
<% end %>
<% if @deed %>
  <dl class="row">
    <dt class="col-md-2">associated with Deed</dt>
    <dd class="col-md-10">
      <%= render partial: 'deeds/oneline', locals: { archive: @deed } %>
    </dd>
  </dl>
<% end %>

<div id="sources-table">
  <div class="table" id="sources">
    <div class="table-body container-fluid">
      <%= render partial: 'source', collection: @sources %>
    </div>
  </div>
</div>
