<h1>
  <%= model_name_with_icon Source, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_source_path,
                       path_to_refresh: sources_path,
                       entity_model: Source } %>
</h1>

<% if @collection %>
  <dl class="row">
    <dt class="col-md-2">associated with Collection</dt>
    <dd class="col-md-10">
      <%= render partial: 'collections/oneline', locals: {collection: @collection } %>
    </dd>
  </dl>
<% end %>
<% if @deed %>
  <dl class="row">
    <dt class="col-md-2">associated with Deed</dt>
    <dd class="col-md-10">
      <%= render partial: 'deeds/oneline', locals: { deed: @deed } %>
    </dd>
  </dl>
<% end %>

<div class="row">
  <div id="sources-table">
    <div class="table" id="sources">
      <div class="table-body container-fluid">
        <%= render partial: 'source', collection: @sources %>
      </div>
    </div>
  </div>
</div>
