<h1>
  <%= model_name_with_icon Source, :plural %>
  <span class="btn-group">
    <%= link_to new_source_path,
                class: 'btn btn-sm btn-primary',
                id: 'btn-new-source',
                title: 'Add new Source',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
  </span>
</h1>

<% if @archive %>
  <dl class="row">
    <dt class="col-md-2">associated with Archive</dt>
    <dd class="col-md-10">
      <%= render partial: 'archives/oneline', locals: { archive: @archive } %>
    </dd>
  </dl>
<% end %>
<% if @deed %>
  <dl class="row">
    <dt class="col-md-2">associated with Deed</dt>
    <dd class="col-md-10">
      <%= render partial: 'deeds/oneline', locals: { archive: @deed } %>
    </dd>
  </dl>
<% end %>

<div id="sources-table">
  <table class="table table-hover table-sm" id="sources">
    <thead>
    <tr>
      <th class="col-source-title"><%= Source.human_attribute_name :title %></th>
      <th class="col-source-type"><%= Source.human_attribute_name :source_type %></th>
      <th class="col-source-notes"><%= Source.human_attribute_name :notes %></th>
      <th class="col-source-assoc">Associations</th>
      <th class="col-source-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'source', collection: @sources %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="source-modal" tabindex="-1" role="dialog"
     aria-labelledby="source-modal-label" aria-hidden="true">
</div>
<div class="modal fade" id="archive-modal" tabindex="-1" role="dialog"
     aria-labelledby="archive-modal-label" aria-hidden="true">
</div>
<div class="modal fade" id="deed-modal" tabindex="-1" role="dialog"
     aria-labelledby="deed-modal-label" aria-hidden="true">
</div>

