<li class="list-group-item">
  <% unless mention.person.nil? %>
    <% if mention.person.gender == 'unknown' %>
      <%= icon('question', class: 'fa-fw') %>
    <% else %>
      <%= icon(mention.person.gender, class: 'fa-fw') %>
    <% end %>
    <%= mention.person.name %>
  <% end %>

  <% unless mention.role.nil? %>
    as
    <%= icon_for Role %>
    <%= mention.role.title %>
  <% end %>

  <% unless mention.place.nil? %>
    of
    <%= icon_for Place %>
    <%= mention.place.title %>
  <% end %>

  <span class="pull-right">
    <%= link_to_show_entity mention %>
  </span>
</li>
