<li class="list-group-item">
  <% unless mention_entry.person.nil? %>
    <% if mention_entry.person.gender == 'unknown' %>
      <%= icon('question', class: 'fa-fw') %>
    <% else %>
      <%= icon(mention_entry.person.gender, class: 'fa-fw') %>
    <% end %>
    <%= mention_entry.person.name %>
  <% end %>

  <% unless mention_entry.role.nil? %>
    <%= t('views.mention_entry.as_role') %>
    <%= icon_for Role %>
    <%= mention_entry.role.title %>
  <% end %>

  <% unless mention_entry.place.nil? %>
    <%= t('views.mention_entry.at_place') %>
    <%= icon_for Place %>
    <%= mention_entry.place.title %>
  <% end %>

  <span class="btn-group btn-group-sm pull-right">
    <%= link_to_show_entity mention_entry %>
    <%= link_to deed_path(@deed, sub_action: 'remove_mention_entry', mention_entry_id: mention_entry.id),
                  method: :patch,
                  id: "btn-remove-mention_entry-#{mention_entry.id}",
                  class: 'btn btn-sm btn-outline-danger',
                  title: t('views.deed.actions.remove_mention_entry'),
                  data: { toggle: 'tooltip',
                          confirm: t('helpers.confirmation.delete') } do %>
      <%= icon('trash', class: 'fa-fw') %>
    <% end %>
  </span>
</li>
