<li class="list-group-item">
  <% unless mention.person.nil? %>
    <% if mention.person.gender == 'unknown' %>
      <%= icon('question', class: 'fa-fw') %>
    <% else %>
      <%= icon(mention.person.gender, class: 'fa-fw') %>
    <% end %>
    <%= mention.person.name %>
  <% end %>

  <% unless mention.role.nil? %>
    as
    <%= icon_for Role %>
    <%= mention.role.title %>
  <% end %>

  <% unless mention.place.nil? %>
    of
    <%= icon_for Place %>
    <%= mention.place.title %>
  <% end %>

  <span class="btn-group btn-group-sm pull-right">
    <%= link_to_show_entity mention %>
    <%= link_to deed_path(@deed, sub_action: 'remove_mention', mention_id: mention.id),
                  method: :patch,
                  id: "btn-remove-mention-#{mention.id}",
                  class: 'btn btn-sm btn-outline-danger',
                  title: 'Remove Mention from Deed',
                  data: { toggle: 'tooltip' } do %>
      <%= icon('trash', class: 'fa-fw') %>
    <% end %>
  </span>
</li>
