<div class="row form-group">
  <label class="col-md-3 form-control-label">
    <%= model_name_with_icon Document, :plural %>
    <span class="pull-right">
      <%= content_tag :a,
                      icon('refresh', class: 'fa-fw'),
                      id: 'btn-refresh-nested-fields',
                      class: 'btn btn-sm btn-outline-default',
                      title: t('views.modals.refresh_associations'),
                      data: { toggle: 'tooltip' } %>
    </span>
  </label>
  <div class="col-md-9">
    <ul id="associate-documents" class="list-group list-group-flush">
      <% @collection.documents.each do |document| %>
        <li id="associated-document-<%= document.id %>" class="list-group-item form-control">
          <%= document.title %> (<%= document.document_type %>)
          <span class="btn-group btn-group-sm pull-right">
            <%= link_to_show_entity document %>
            <%= link_to collection_path(@collection.id, sub_action: :deassociate, document_id: document.id),
                        method: :patch,
                        remote: true,
                        id: "btn-deassoc-document-#{document.id}",
                        class: 'btn btn-sm btn-danger',
                        title: t('views.modals.delete_association'),
                        data: { toggle: 'tooltip' } do %>
              <%= icon('minus', class: 'fa-fw') %>
            <% end %>
          </span>
        </li>
      <% end %>
      <li id="associate-document-add" class="list-group-item">
        <% if @free_documents.count > 0 %>
          <div class="form-group input-group">
            <%= text_field nil,
                           nil,
                           id: 'assoc-document-input',
                           class: 'form-control form-control-sm',
                           type: 'text',
                           list: 'free-documents',
                           placeholder: t('views.modals.search_for_unassociated',
                                          what: Document.model_name.human(count: 2)) %>
            <%= content_tag :datalist, id: 'free-documents' do %>
              <% @free_documents.each do |document| %>
                <%= content_tag :option,
                                "#{document.title} (#{document.document_type})",
                                data: {'document-id': document.id } %>
              <% end %>
            <% end %>
            <div class="input-group-btn">
              <%= content_tag :a,
                              icon('search', class: 'fa-fw'),
                              id: 'btn-show-selected-document-details',
                              class: 'btn btn-sm btn-outline-info',
                              role: 'button' %>
              <%= content_tag :a,
                              icon('plus', class: 'fa-fw'),
                              id: 'btn-associate-selected-document',
                              class: 'btn btn-sm btn-primary',
                              role: 'button' %>
            </div>
          </div>
        <% else %>
          <%= t('views.modals.no_unassociated_found_html',
                what: model_name_with_icon(Document, :plural)) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
