<%= fields_for @source do |f| %>
  <div class="row form-group">
    <%= f.label :title, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :source_type, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <% source_types = Source::SOURCE_TYPES.map {
          |typ| [t(typ, scope: [:activerecord, :attributes, :source, :source_types]), typ]
      } %>
      <%= f.select :source_type,
                   options_for_select(source_types, @source.source_type || nil),
                   { include_blank: true },
                   { class: 'custom-select' } %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :notes, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <%= f.text_area :notes, rows: 5, class: 'form-control' %>
    </div>
  </div>
<% end %>
