<div class="row form-group">
  <%= f.label :title, class: 'col-md-3 form-control-label' %>
  <div class="col-md-9">
    <%= f.text_field :title, class: 'form-control' %>
  </div>
</div>
<div class="row form-group">
  <%= f.label :source_type, class: 'col-md-3 form-control-label' %>
  <div class="col-md-9">
    <%= f.text_field :source_type, class: 'form-control' %>
  </div>
</div>
<div class="row form-group">
  <%= f.label :notes, class: 'col-md-3 form-control-label' %>
  <div class="col-md-9">
    <%= f.text_area :notes, rows: 5, class: 'form-control' %>
  </div>
</div>
