<% native ||= false %>
<% storage ||= @storage %>

<div class="row">
  <label class="col-md-3"><strong><%= Storage.human_attribute_name :title %></strong></label>
  <div class="col-md-9">
    <%= storage.title %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Storage.human_attribute_name :notes %></strong></label>
  <div class="col-md-9">
    <%= render partial: 'shared/show/entity_notes', locals: { notes: storage.notes } %>
  </div>
</div>
<% if native %>
  <div class="row">
    <label class="col-md-3"><strong><%= Storage.human_attribute_name :collections %></strong></label>
    <ul class="col-md-9 list-group list-group-flush" id="collections-accordion" role="tablist"
        aria-multiselectable="true">
      <%= render partial: 'collections/nested_show', collection: storage.collections, as: :collection %>
    </ul>
  </div>
<% end %>
