<% native ||= false %>
<% storage ||= @storage %>

<div class="row">
  <label class="col-md-3"><strong><%= Storage.human_attribute_name :title %></strong></label>
  <div class="col-md-9">
    <%= storage.title %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Storage.human_attribute_name :notes %></strong></label>
  <div class="col-md-9">
    <%= storage.notes %>
  </div>
</div>
<% if native %>
  <div class="row">
    <label class="col-md-3"><strong><%= Storage.human_attribute_name :archives %></strong></label>
    <ul class="col-md-9 list-group list-group-flush" id="archives-accordion" role="tablist" aria-multiselectable="true">
      <%= render partial: 'archives/nested_show', collection: storage.archives, as: :archive %>
    </ul>
  </div>
<% end %>
