<%= fields_for @mention do |f| %>
  <div id="assoc-deed" class="row form-group">
    <%= f.label :deed, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <div class="input-group">
        <%= f.text_field :deed,
                         class: 'form-control',
                         list: 'deeds',
                         placeholder: 'Search for Deed' %>
        <%= content_tag :datalist, id: 'deeds' do %>
          <% Deed.all.each do |deed| %>
            <%= content_tag :option, deed.title %>
          <% end %>
        <% end %>
        <div class="input-group-btn">
          <%= content_tag :a,
                          icon('search', class: 'fa-fw'),
                          id: 'btn-show-selected-deed-details',
                          class: 'btn btn-outline-info',
                          role: 'button' %>
        </div>
      </div>
    </div>
  </div>
  <div id="assoc-person" class="row form-group">
    <%= f.label :person, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <div class="input-group">
        <%= f.text_field :person,
                         class: 'form-control',
                         list: 'people',
                         placeholder: 'Search for Person' %>
        <%= content_tag :datalist, id: 'people' do %>
          <% Person.all.each do |person| %>
            <%= content_tag :option, person.name %>
          <% end %>
        <% end %>
        <div class="input-group-btn">
          <%= content_tag :a,
                          icon('search', class: 'fa-fw'),
                          id: 'btn-show-selected-person-details',
                          class: 'btn btn-outline-info',
                          role: 'button' %>
        </div>
      </div>
    </div>
  </div>
  <div id="assoc-place" class="row form-group">
    <%= f.label :place, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <div class="input-group">
        <%= f.text_field :place,
                         class: 'form-control',
                         list: 'places',
                         placeholder: 'Search for Place' %>
        <%= content_tag :datalist, id: 'places' do %>
          <% Place.all.each do |place| %>
            <%= content_tag :option, place.title %>
          <% end %>
        <% end %>
        <div class="input-group-btn">
          <%= content_tag :a,
                          icon('search', class: 'fa-fw'),
                          id: 'btn-show-selected-place-details',
                          class: 'btn btn-outline-info',
                          role: 'button' %>
        </div>
      </div>
    </div>
  </div>
  <div id="assoc-role" class="row form-group">
    <%= f.label :role, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <div class="input-group">
        <%= f.text_field :role,
                         class: 'form-control',
                         list: 'roles',
                         placeholder: 'Search for Role' %>
        <%= content_tag :datalist, id: 'roles' do %>
          <% Role.all.each do |role| %>
            <%= content_tag :option, role.title %>
          <% end %>
        <% end %>
        <div class="input-group-btn">
          <%= content_tag :a,
                          icon('search', class: 'fa-fw'),
                          id: 'btn-show-selected-role-details',
                          class: 'btn btn-outline-info',
                          role: 'button' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :notes, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <%= f.text_area :notes, rows: 5, class: 'form-control' %>
    </div>
  </div>
<% end %>
