<% content_for :entity_info, flush: true do %>
  <div class="col-mention_entry-deed">
    <% unless mention_entry.deed.nil? %>
        <%= icon_for Deed %>
        <%= mention_entry.deed.title %>
      <%= link_to deed_path(mention_entry.deed), remote: true do %>
        <%= icon('search', class: 'fa-fw') %>
      <% end %>
    <% end %>
  </div>
  <div class="col-mention_entry-person">
    <% unless mention_entry.person.nil? %>
        <%= icon_for Person %>
        <%= mention_entry.person.name %>
      <%= link_to person_path(mention_entry.person), remote: true do %>
        <%= icon('search', class: 'fa-fw') %>
      <% end %>
    <% end %>
  </div>
  <div class="col-mention_entry-place">
    <% unless mention_entry.place.nil? %>
        <%= icon_for Place %>
        <%= mention_entry.place.title %>
      <%= link_to place_path(mention_entry.place), remote: true do %>
        <%= icon('search', class: 'fa-fw') %>
      <% end %>
    <% end %>
  </div>
  <div class="col-mention_entry-role">
    <% unless mention_entry.role.nil? %>
        <%= icon_for Role %>
        <%= mention_entry.role.title %>
      <%= link_to role_path(mention_entry.role), remote: true do %>
        <%= icon('search', class: 'fa-fw') %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if mention_entry.notes.nil? or mention_entry.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= mention_entry.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "mention_entry-#{mention_entry.id}", entity: mention_entry } %>
