<% native ||= false %>
<% person ||= @person %>

<div class="row">
  <label class="col-md-3"><strong><%= Person.human_attribute_name :name %></strong></label>
  <div class="col-md-9">
    <%= person.name %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Person.human_attribute_name :gender %></strong></label>
  <div class="col-md-9">
    <%= icon(person.gender_icon, class: 'fa-fw') %>
    <%= t person.gender, scope: [:activerecord, :attributes, :person, :genders] %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Person.human_attribute_name :notes %></strong></label>
  <div class="col-md-9">
    <% if person.notes.nil? or person.notes.empty? %>
      <em class="text-muted"><%= t :no_notes, scope: [:views] %></em>
    <% else %>
      <%= person.notes %>
    <% end %>
  </div>
</div>
