<% native ||= false %>
<% person ||= @person %>

<div class="row">
  <label class="col-md-3"><strong><%= Person.human_attribute_name :name %></strong></label>
  <div class="col-md-9">
    <%= person.name %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Person.human_attribute_name :gender %></strong></label>
  <div class="col-md-9">
    <% if person.gender == 'unknown' %>
      <%= icon('question', class: 'fa-fw') %>
    <% else %>
      <%= icon(person.gender, class: 'fa-fw') %>
    <% end %>
    <%= person.gender.humanize %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Person.human_attribute_name :notes %></strong></label>
  <div class="col-md-9">
    <% if person.notes.nil? or person.notes.empty? %>
      <em class="text-muted">no notes</em>
    <% else %>
      <%= person.notes %>
    <% end %>
  </div>
</div>
