<% form_open = false %>

<div class="modal-dialog modal-lg" role="document">
  <% if content_for? :form_modal_before %>
    <%= yield :form_modal_before %>
  <% elsif defined? entity %>
    <%= form_tag entity, method: (action_name.to_sym == :edit ? :patch : :post) %>
    <% form_open = true %>
  <% end %>
  <div class="modal-content card">
    <h4 id="form-modal-title" class="card-header bg-primary">
      <% if content_for? :form_modal_title %>
        <%= yield :form_modal_title %>
      <% elsif defined? entity %>
        <%= form_modal_title entity.class %>
      <% end %>
    </h4>
    <div class="card-block">
      <div id="form-modal-content" class="container-fluid">
        <%= yield :form_modal_content %>
      </div>
    </div>
    <div id="form-modal-submit" class="card-footer bg-primary">
      <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close">
          <%= t :abort, scope: [:helpers] %>
        </button>
        <% if content_for? :form_modal_submit %>
          <%= yield :form_modal_submit %>
        <% elsif defined? entity %>
          <%= render partial: 'shared/form/submit', locals: { entity: entity } %>
        <% end %>
      </div>
    </div>
  </div>
  <% if content_for? :form_modal_after %>
    <%= yield :form_modal_after %>
  <% elsif form_open %>
    </form>
  <% end %>
</div>
