<ul id="nav-bar" class="nav nav-pills nav-stacked bg-faded" role="menu">
  <li class="nav-item">
    <a class="nav-link">Deeds</a>
  </li>
  <li class="nav-item">
    <%= link_to deeds_path, class: "nav-link#{' active' if current_page?(controller: :deeds)}" do %>
      <%= model_name_with_icon Deed, :plural %>
      <span class="tag tag-pill tag-default pull-right"><%= Deed.count %></span>
    <% end %>

    <ul class="nav nav-pills nav-stacked bg-faded" role="menu">
      <li class="nav-item">
        <%= link_to documents_path, class: "nav-link#{' active' if current_page?(controller: :documents)}" do %>
            <%= model_name_with_icon Document, :plural %>
            <span class="tag tag-pill tag-default pull-right"><%= Document.count %></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to collections_path, class: "nav-link#{' active' if current_page?(controller: :collections)}" do %>
            <%= model_name_with_icon Collection, :plural %>
            <span class="tag tag-pill tag-default pull-right"><%= Collection.count %></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to storages_path, class: "nav-link#{' active' if current_page?(controller: :storages)}" do %>
            <%= model_name_with_icon Storage, :plural %>
            <span class="tag tag-pill tag-default pull-right"><%= Storage.count %></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to seals_path, class: "nav-link#{' active' if current_page?(controller: :seals)}" do %>
          <%= model_name_with_icon Seal, :plural %>
          <span class="tag tag-pill tag-default pull-right"><%= Seal.count %></span>
        <% end %>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <%= link_to mentions_path, class: "nav-link#{' active' if current_page?(controller: :mentions)}" do %>
        <%= model_name_with_icon Mention, :plural %>
        <span class="tag tag-pill tag-default pull-right"><%= Mention.count %></span>
    <% end %>

    <ul class="nav nav-pills nav-stacked bg-faded" role="menu">
      <li class="nav-item">
        <%= link_to places_path, class: "nav-link#{' active' if current_page?(controller: :places)}" do %>
            <%= model_name_with_icon Place, :plural %>
            <span class="tag tag-pill tag-default pull-right"><%= Place.count %></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to people_path, class: "nav-link#{' active' if current_page?(controller: :people)}" do %>
            <%= model_name_with_icon Person, :plural %>
            <span class="tag tag-pill tag-default pull-right"><%= Person.count %></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to roles_path, class: "nav-link#{' active' if current_page?(controller: :roles)}" do %>
            <%= model_name_with_icon Role, :plural %>
            <span class="tag tag-pill tag-default pull-right"><%= Role.count %></span>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
