<% content_for :entity_info, flush: true do %>
  <div class="col-document-title">
    <%= document.title %>
  </div>
  <div class="col-document-type">
    <%= t(document.document_type, scope: 'activemodel.attributes.document.document_types') %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if document.notes.nil? or document.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= document.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to deed_path(document.deed),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Deed.model_name.human(count: 1)),
                data: { toggle: 'tooltip' } do %>
      <%= icon_for Deed %>
    <% end %>
    <%= link_to collections_path(document_id: document.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Collection.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= document.collections.count %>
      <%= icon_for Collection %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "document-#{document.id}", entity: document } %>
