<li class="list-group-item">
  <div id="document-<%= document.id %>" class="list-group-item-heading" role="tab">
    <a aria-controls="document-<%= document.id %>-content"
       aria-expanded="false"
       href="#document-<%= document.id %>-content"
       data-parent="#documents-accordion"
       data-toggle="collapse">
      <%= icon_for Document %>
      <%= document.title %> &mdash; <%= t(document.document_type, scope: 'activerecord.attributes.document.document_types') %>
    </a>
  </div>
  <div id="document-<%= document.id %>-content"
       class="list-group-item-text collapse"
       aria-labelledby="document-<%= document.id %>"
       role="tabpanel"
       aria-expanded="false">
    <%= render partial: 'documents/show/content', locals: { document: document } %>
  </div>
</li>
