<div id="deed-row-<%= deed.id %>" class="row">
  <div class="col-deed-title">
    <%= deed.title %>
  </div>
  <div class="col-deed-year"><%= deed.year %></div>
  <div class="col-deed-month"><%= deed.month %></div>
  <div class="col-deed-day"><%= deed.day %></div>
  <div class="col-deed-actions">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-sm" role="group">
        <a class="btn btn-sm btn-secondary"
              title="<%= deed.description %>"
              data-toggle="tooltip">
          <%= icon('info', class: 'fa-fw') %>
          Description
        </a>
        <%= link_to content_path(deed.content.id),
                    class: 'btn btn-sm btn-secondary',
                    title: "show #{Content.model_name.plural.humanize}",
                    data: { toggle: 'tooltip' },
                    remote: true do %>
          <%= icon_for Content %>
          Content
        <% end %>
        <%= link_to nil,#content_path(deed.content),
                    class: 'btn btn-sm btn-secondary',
                    title: "show #{ContentTranslation.model_name.plural.humanize}",
                    data: { toggle: 'tooltip' } do %>
          <%= deed.translations.count %>
          <%= icon_for ContentTranslation %>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm" role="group">
        <%= link_to sources_path(deed_id: deed.id),
                    class: 'btn btn-sm btn-secondary',
                    title: "show linked #{Source.model_name.plural.humanize}",
                    data: { toggle: 'tooltip' } do %>
          <%= deed.sources.count %>
          <%= icon_for Source %>
        <% end %>
        <%= link_to nil,#people_path(deed_id: deed.id),
                    class: 'btn btn-sm btn-secondary',
                    title: "show linked #{Person.model_name.plural.humanize}",
                    data: { toggle: 'tooltip' } do %>
          <%= deed.people.count %>
          <%= icon_for Person %>
        <% end %>
        <%= link_to nil,#places_path(deed_id: deed.id),
                    class: 'btn btn-sm btn-secondary',
                    title: "show linked #{Place.model_name.plural.humanize}",
                    data: { toggle: 'tooltip' } do %>
          <%= deed.places.count %>
          <%= icon_for Place %>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm" role="group">
        <%= link_to_show_entity deed %>
        <%= link_to_edit_entity deed %>
        <%= link_to_destroy_entity deed %>
      </div>
    </div>
  </div>
</div>
