<% content_for :entity_info, flush: true do %>
  <div class="col-deed-title">
    <%= deed.title %>
  </div>
  <div class="col-deed-date">
    <div class="container-fluid">
      <div class="col-deed-year">
        <span class="tag tag-default"><%= Deed.human_attribute_name :year %></span>
        <%= deed.year ? deed.year
                      : "<em class=\"small text-muted\">#{t('views.unknown')}</em>".html_safe %>
      </div>
      <div class="col-deed-month">
        <span class="tag tag-default"><%= Deed.human_attribute_name :month %></span>
        <%= deed.month ? deed.month
                       : "<em class=\"small text-muted\">#{t('views.unknown')}</em>".html_safe %>
      </div>
      <div class="col-deed-day">
        <span class="tag tag-default"><%= Deed.human_attribute_name :day %></span>
        <%= deed.day ? deed.day
                     : "<em class=\"small text-muted\">#{t('views.unknown')}</em>".html_safe %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if deed.notes.nil? or deed.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= deed.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <% if deed.content.nil? %>
      <%= link_to nil,
                  class: 'btn btn-sm btn-outline-secondary disabled' do %>
        <%= icon_for Content %>
      <% end %>
      <%= link_to nil,
                  class: 'btn btn-sm btn-outline-secondary disabled' do %>
        <%= deed.translations.count %>
        <%= icon_for ContentTranslation %>
      <% end %>
    <% else %>
      <%= link_to content_path(deed.content.id),
                  class: 'btn btn-sm btn-secondary',
                  title: t('views.show_linked', what: Content.model_name.human(count: 2)),
                  data: { toggle: 'tooltip' },
                  remote: true do %>
        <%= icon_for Content %>
      <% end %>
      <%= link_to content_path(deed.content.id),
                  class: 'btn btn-sm btn-secondary',
                  title: t('views.show_linked', what: ContentTranslation.model_name.human(count: 2)),
                  data: { toggle: 'tooltip' },
                  remote: true do %>
        <%= deed.translations.count %>
        <%= icon_for ContentTranslation %>
      <% end %>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to documents_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Document.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= deed.documents.count %>
      <%= icon_for Document %>
    <% end %>
    <%= link_to nil,#references_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: 'References'),
                data: { toggle: 'tooltip' } do %>
      ?
      <%= icon('external-link', class: 'fa-fw') %>
    <% end %>
    <% if deed.seal.nil? %>
      <%= link_to nil,
                  class: 'btn btn-sm btn-outline-secondary disabled' do %>
        <%= icon_for Seal %>
      <% end %>
    <% else %>
      <%= link_to seal_path(deed.seal),
                  class: 'btn btn-sm btn-secondary',
                  title: t('views.deed.show_linked_seal'),
                  data: { toggle: 'tooltip' },
                  remote: true do %>
        <%= icon_for Seal %>
      <% end %>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to mentions_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Mention.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= deed.mentions.count %>
      <%= icon_for Mention %>
    <% end %>
    <%= link_to people_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Person.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= deed.people.count %>
      <%= icon_for Person %>
    <% end %>
    <%= link_to places_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Place.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= deed.places.count %>
      <%= icon_for Place %>
    <% end %>
    <%= link_to roles_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Role.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= deed.roles.count %>
      <%= icon_for Role %>
    <% end %>
  </div>
<% end %>

<% content_for :entity_toolbar_action_show_btn, flush: true do %>
  <%= link_to_show_entity deed, url=nil, remote=false %>
<% end %>

<% content_for :entity_description, flush: true do %>
  <% if deed.description %>
    <%= truncate deed.description, length: 200, separator: ' ' %>
  <% else %>
    <em class="small text-muted">
      <%= t('views.no_description') %>
    </em>
  <% end %>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "deed-#{deed.id}", entity: deed } %>
