<% content_for :entity_info, flush: true do %>
  <div class="col-deed-title">
    <%= deed.title %>
  </div>
  <div class="col-deed-date">
    <div class="container-fluid">
      <div class="col-deed-year">
        <span class="tag tag-default"><%= Deed.human_attribute_name :year %></span>
        <%= deed.year ? deed.year : '?' %>
      </div>
      <div class="col-deed-month">
        <span class="tag tag-default"><%= Deed.human_attribute_name :month %></span>
        <%= deed.month ? deed.month : '?' %>
      </div>
      <div class="col-deed-day">
        <span class="tag tag-default"><%= Deed.human_attribute_name :day %></span>
        <%= deed.day ? deed.day : '?' %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if deed.notes.nil? or deed.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= deed.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <% if deed.content.nil? %>
      <%= link_to nil,
                  class: 'btn btn-sm btn-outline-secondary disabled' do %>
        <%= icon_for Content %>
      <% end %>
    <% else %>
      <%= link_to content_path(deed.content.id),
                  class: 'btn btn-sm btn-secondary',
                  title: "show #{Content.model_name.human}",
                  data: { toggle: 'tooltip' },
                  remote: true do %>
        <%= icon_for Content %>
      <% end %>
    <% end %>
    <%= link_to nil,#content_translation_path(deed.content),
                class: 'btn btn-sm btn-secondary',
                title: "show #{ContentTranslation.model_name.plural.humanize}",
                data: { toggle: 'tooltip' } do %>
      <%= deed.translations.count %>
      <%= icon_for ContentTranslation %>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to sources_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: "show linked #{Source.model_name.plural.humanize}",
                data: { toggle: 'tooltip' } do %>
      <%= deed.sources.count %>
      <%= icon_for Source %>
    <% end %>
    <%= link_to nil,#references_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: "show linked References",
                data: { toggle: 'tooltip' } do %>
      ?
      <%= icon('external-link', class: 'fa-fw') %>
    <% end %>
    <%= link_to nil,#seals_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: "show linked Seals",
                data: { toggle: 'tooltip' } do %>
      ?
      <%= icon('bookmark-o', class: 'fa-fw') %>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to nil,#people_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: "show linked #{Person.model_name.plural.humanize}",
                data: { toggle: 'tooltip' } do %>
      <%= deed.people.count %>
      <%= icon_for Person %>
    <% end %>
    <%= link_to nil,#places_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: "show linked #{Place.model_name.plural.humanize}",
                data: { toggle: 'tooltip' } do %>
      <%= deed.places.count %>
      <%= icon_for Place %>
    <% end %>
    <%= link_to nil,#roles_path(deed_id: deed.id),
                class: 'btn btn-sm btn-secondary',
                title: "show linked #{Role.model_name.plural.humanize}",
                data: { toggle: 'tooltip' } do %>
      <%= deed.roles.count %>
      <%= icon_for Role %>
    <% end %>
  </div>
<% end %>

<% content_for :entity_toolbar_action_show_btn do %>
  <%= link_to_show_entity deed, url=nil, remote=false %>
<% end %>

<% content_for :entity_description, flush: true do %>
  <% if deed.description %>
    <%= truncate deed.description, length: 200, separator: ' ' %>
  <% else %>
    <em class="text-muted">no description</em>
  <% end %>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "deed-#{deed.id}", entity: deed } %>
