<h1>
  <%= model_name_with_icon Deed, :plural %>
  <span class="btn-group">
    <%= link_to new_deed_path,
                class: 'btn btn-primary',
                id: 'btn-new-deed',
                title: 'Add new Deed',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
    <%= link_to deeds_path,
                class: 'btn btn-secondary',
                id: 'btn-refresh-table',
                title: 'Refresh table',
                data: { toggle: 'tooltip' },
                remote: true do %>
      <%= icon('refresh', class: 'fa-fw') %>
    <% end %>
  </span>
</h1>

<div id="deeds-table">
  <div class="table" id="deeds">
    <div class="table-head">
      <div class="row">
        <div class="col-deed-title col-head"><%= Deed.human_attribute_name :title %></div>
        <div class="col-deed-date col-head">
          <span class="clearfix">Date</span>
          <div class="col-deed-year"><%= Deed.human_attribute_name :year %></div>
          <div class="col-deed-month"><%= Deed.human_attribute_name :month %></div>
          <div class="col-deed-day"><%= Deed.human_attribute_name :day %></div>
        </div>
        <div class="col-deed-actions col-head">Actions</div>
      </div>
    </div>
    <div class="table-body">
      <%= render partial: 'deed', collection: @deeds %>
    </div>
  </div>
</div>

<div class="modal fade" id="deed-modal" tabindex="-1" role="dialog"
     aria-labelledby="deed-modal-label" aria-hidden="true">
</div>
<div class="modal fade" id="content-modal" tabindex="-1" role="dialog"
     aria-labelledby="content-modal-label" aria-hidden="true">
</div>
