<h1>
  <%= model_name_with_icon Deed, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_deed_path,
                       path_to_refresh: deeds_path,
                       entity_model: Deed } %>
</h1>

<% if @seal %>
  <dl class="row">
    <dt class="col-md-2"><%= t('views.linked_with', what: Seal.model_name.human) %></dt>
    <dd class="col-md-10">
      <%= render partial: 'seals/oneline', locals: { deed: @seal } %>
    </dd>
  </dl>
<% end %>


<div class="row">
  <div id="deeds-table">
    <div class="table" id="deeds">
      <div class="table-body container-fluid">
        <%= render partial: 'deed', collection: @deeds %>
      </div>
    </div>
  </div>
</div>
