<% content_for :entity_info, flush: true do %>
  <div class="col-storage-title">
    <%= storage.title %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if storage.notes.nil? or storage.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= storage.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to collections_path(storage_id: storage.id),
                class: 'btn btn-sm btn-secondary',
                title: "show #{Collection.model_name.plural.humanize} linked",
                data: { toggle: 'tooltip' } do %>
      <%= storage.collections.count %>
      <%= icon_for Collection %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "storage-#{storage.id}", entity: storage } %>
