<tr id="storage-row-<%= storage.id %>">
  <td class="col-storage-title"><%= storage.title %></td>
  <td class="col-storage-notes"><%= storage.notes %></td>
  <td class="col-storage-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity storage %>
      <%= link_to_edit_entity storage %>
      <%= link_to_destroy_entity storage %>
    </div>
  </td>
</tr>
