<tr id="storage-row-<%= storage.id %>">
  <td class="col-storage-title"><%= storage.title %></td>
  <td class="col-storage-notes"><%= storage.notes %></td>
  <td class="col-storage-assoc">
    <%= link_to archives_path(storage_id: storage.id),
                class: 'btn btn-sm btn-secondary',
                title: "show #{Archive.model_name.plural.humanize} linked",
                data: { toggle: 'tooltip' } do %>
      <%= storage.archives.count %>
      <%= icon_for Archive %>
    <% end %>
  </td>
  <td class="col-storage-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity storage %>
      <%= link_to_edit_entity storage %>
      <%= link_to_destroy_entity storage %>
    </div>
  </td>
</tr>
