<h1>
  <%= model_name_with_icon Storage, :plural %>
  <span class="btn-group">
    <%= link_to new_storage_path,
                class: 'btn btn-sm btn-primary',
                id: 'btn-new-storage',
                title: 'Add new Storage',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
  </span>
</h1>

<% if @archive %>
  <dl class="row">
    <dt class="col-md-2">associated with Archive</dt>
    <dd class="col-md-10">
      <%= render partial: 'archives/oneline', locals: { archive: @archive } %>
    </dd>
  </dl>
<% end %>

<div id="storages-table">
  <table class="table table-hover table-sm" id="storages">
    <thead>
    <tr>
      <th class="col-storage-title"><%= Storage.human_attribute_name :title %></th>
      <th class="col-storage-notes"><%= Storage.human_attribute_name :notes %></th>
      <th class="col-storage-assoc">Associations</th>
      <th class="col-storage-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
      <%= render partial: 'storage', collection: @storages %>
    </tbody>
  </table>
</div>
