<% native ||= false %>
<% content ||= @content %>

<div class="row">
  <label class="col-md-3"><strong><%= Content.human_attribute_name :language %></strong></label>
  <div class="col-md-9">
    <%= t(content.language, scope: 'activerecord.attributes.content.languages') %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Content.human_attribute_name :content %></strong></label>
  <div class="col-md-9">
    <%= content.content %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= ContentTranslation.model_name.human(count: 2) %></strong></label>
  <div class="col-md-9" id="content-content-translations-accordion"
       role="tablist" aria-multiselectable="true">
    <%= render partial: 'contents/content_translations/inner_show', collection: content.translations,
               as: :content_translation %>
  </div>
</div>
