<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content card">
    <%= form_for @content do |f| %>
      <h4 id="content-modal-label" class="card-header bg-primary">
        <%= action_name.humanize %> <%= model_name_with_icon Content, :singular %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </h4>
      <div class="card-block">
        <div class="container-fluid">
          <div class="row form-group">
            <%= render partial: 'contents/form/own_fields', locals: { f: f } %>
          </div>
          <div class="row form-group">
            <%= render partial: 'contents/form/nested_fields', locals: { f: f } %>
          </div>
        </div>
      </div>
      <div class="card-footer bg-primary">
        <%= f.submit class: 'btn btn-sm btn-primary pull-right', data: { close: '' } %>
      </div>
    <% end %>
  </div>
</div>
