<li id="associated-content-translation-<%= t_f.object.id %>"
    class="list-group-item form-control">
  <div class="row form-group">
    <%= t_f.label :language, class: 'col-md-3 form-control-label' %>
    <div class="col-md-7">
      <%= t_f.select :language,
                     options_for_select(
                         Content::LANGUAGES.map {
                             |e| [t(e, scope: 'activerecord.attributes.content.languages'), e]
                         },
                         (t_f.object.language ? t_f.object.language.humanize : nil)
                     ),
                     {},
                     { class: 'form-control' } %>
    </div>
    <div class="col-md-2">
      <div class="btn-group btn-group-sm pull-right">
        <%= link_to_destroy_entity t_f.object, remote: true %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <%= t_f.label :translation, class: 'col-md-3 form-control-label' %>
    <div class="col-md-9">
      <%= t_f.text_area :translation, rows: 5, class: 'form-control' %>
    </div>
  </div>
</li>
