<% content_for :entity_info, flush: true do %>
  <div class="col-seal-title">
    <%= seal.title %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if seal.notes.nil? or seal.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= seal.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to deeds_path(seal_id: seal.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Deed.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= seal.deeds.count %>
      <%= icon_for Deed %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "seal-#{seal.id}", entity: seal } %>
