<% content_for :entity_info, flush: true do %>
  <div class="col-seal-title">
    <%= seal.title %>
  </div>
  <div class="col-seal-material">
    <% if seal.material.nil? or seal.material.empty? %>
      <em class="small text-muted"><%= t('views.seal.no_material') %></em>
    <% else %>
      <%= t(seal.material, scope: 'activerecord.attributes.seal.materials') %>
    <% end %>
  </div>
  <div class="col-seal-attachment">
    <% if seal.attachment_type.nil? or seal.attachment_type.empty? %>
      <em class="small text-muted"><%= t('views.seal.no_attachment_type') %></em>
    <% else %>
      <%= t(seal.attachment_type, scope: 'activerecord.attributes.seal.attachment_types') %>
    <% end %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if seal.notes.nil? or seal.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= seal.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <% if seal.deed.nil? %>
      <%= link_to nil,
                  class: 'btn btn-sm btn-outline-secondary disabled' do %>
        <%= icon_for Deed %>
      <% end %>
    <% else %>
      <%= link_to deed_path(seal.deed),
                  class: 'btn btn-sm btn-secondary',
                  title: t('views.show_linked', what: Deed.model_name.human(count: 1)),
                  data: { toggle: 'tooltip' },
                  remote: true do %>
        <%= icon_for Deed %>
      <% end %>
    <% end %>
    <%= link_to references_path(seal_id: seal.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Reference.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= seal.references.count %>
      <%= icon_for Reference %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "seal-#{seal.id}", entity: seal } %>
