<h1>
  <%= model_name_with_icon Seal, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_seal_path,
                       path_to_refresh: seals_path,
                       entity_model: Seal } %>
</h1>

<% if @reference %>
  <dl class="row">
    <dt class="col-md-2"><%= t('views.linked_with', what: Reference.model_name.human) %></dt>
    <dd class="col-md-10">
      <%= render partial: 'references/oneline', locals: { reference: @reference } %>
    </dd>
  </dl>
<% end %>

<div class="row">
  <div id="seals-table">
    <div class="table" id="seals">
      <div class="table-body container-fluid">
        <%= render partial: 'seal', collection: @seals %>
      </div>
    </div>
  </div>
</div>
