<% content_for :entity_info, flush: true do %>
  <div class="col-role-title" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <%= role.title %>
  </div>
  <div class="col-role-referring">
    <% case role.referring %>
      <% when 'deed' %>
        <%= icon_for Deed %>
      <% when 'person' %>
        <%= icon_for Person %>
      <% when 'place' %>
        <%= icon_for Place %>
    <% end %>
    <%= t(role.referring, scope: 'activerecord.attributes.role.refers_to') %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if role.notes.nil? or role.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= role.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to mention_mention_entries_path(role_id: role.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Mention::MentionEntry.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= role.mention_entries.count %>
      <%= icon_for Mention::MentionEntry %>
    <% end %>
    <span class="btn btn-sm btn-secondary"
          title="<%= t('views.number_linked', what: Person.model_name.human(count: 2)) %>"
          data-toggle="tooltip">
      <%= role.mentioned_people.length %>
      <%= icon_for Person %>
    </span>
    <span class="btn btn-sm btn-secondary"
          title="<%= t('views.number_linked', what: Place.model_name.human(count: 2)) %>"
          data-toggle="tooltip">
      <%= role.mentioned_places.length %>
      <%= icon_for Place %>
    </span>
    <%= link_to deeds_path(role_id: role.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Deed.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= role.mentioned_deeds.length %>
      <%= icon_for Deed %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "role-#{role.id}", entity: role } %>
