<tr id="archive-row-<%= archive.id %>">
  <td class="col-archive-title"><%= archive.title %></td>
  <td class="col-archive-abbr"><%= archive.abbr %></td>
  <td class="col-archive-notes"><%= archive.notes %></td>
  <td class="col-storage-assoc">
    <%= link_to storages_path(archive_id: archive.id),
                class: 'btn btn-sm btn-secondary',
                title: "show #{Storage.model_name.plural.humanize} linked",
                data: { toggle: 'tooltip' } do %>
      <%= archive.storages.count %>
      <%= icon('archive', class: 'fa-fw') %>
    <% end %>
    <%= link_to sources_path(archive_id: archive.id),
                class: 'btn btn-sm btn-secondary',
                title: "show #{Source.model_name.plural.humanize} linked",
                data: { toggle: 'tooltip' } do %>
      <%= archive.sources.count %>
      <%= icon('newspaper-o', class: 'fa-fw') %>
    <% end %>
  </td>
  <td class="col-archive-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity archive %>
      <%= link_to_edit_entity archive %>
      <%= link_to_destroy_entity archive %>
    </div>
  </td>
</tr>
