<tr id="archive-row-<%= archive.id %>">
  <td class="col-archive-title"><%= archive.title %></td>
  <td class="col-archive-abbr"><%= archive.abbr %></td>
  <td class="col-archive-notes"><%= archive.notes %></td>
  <td class="col-archive-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity archive %>
      <%= link_to_edit_entity archive %>
      <%= link_to_destroy_entity archive %>
    </div>
  </td>
</tr>
