<% content_for :entity_info, flush: true do %>
  <div class="col-archive-title">
    <%= archive.title %>
  </div>
  <div class="col-archive-abbr">
    <%= archive.abbr %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if archive.notes.nil? or archive.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= archive.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to storages_path(archive_id: archive.id),
                class: 'btn btn-sm btn-secondary',
                title: "show #{Storage.model_name.plural.humanize} linked",
                data: { toggle: 'tooltip' } do %>
      <%= archive.storages.count %>
      <%= icon('archive', class: 'fa-fw') %>
    <% end %>
    <%= link_to sources_path(archive_id: archive.id),
                class: 'btn btn-sm btn-secondary',
                title: "show #{Source.model_name.plural.humanize} linked",
                data: { toggle: 'tooltip' } do %>
      <%= archive.sources.count %>
      <%= icon('newspaper-o', class: 'fa-fw') %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "archive-#{archive.id}", entity: archive } %>
