<h1>
  <%= model_name_with_icon Archive, :plural %>
  <span class="btn-group">
    <%= link_to new_archive_path,
                class: 'btn btn-sm btn-primary',
                id: 'btn-new-archive',
                title: 'Add new Archive',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
  </span>
</h1>

<% if @storage %>
  <dl class="row">
    <dt class="col-md-2">associated with Storage</dt>
    <dd class="col-md-10">
      <%= render partial: 'storages/oneline', locals: { storage: @storage } %>
    </dd>
  </dl>
<% end %>
<% if @source %>
  <dl class="row">
    <dt class="col-md-2">associated with Source</dt>
    <dd class="col-md-10">
      <%= render partial: 'sources/oneline', locals: { source: @source } %>
    </dd>
  </dl>
<% end %>

<div id="archives-table">
  <table class="table table-hover table-sm" id="archives">
    <thead>
    <tr>
      <th class="col-archive-title"><%= Archive.human_attribute_name :title %></th>
      <th class="col-archive-abbr"><%= Archive.human_attribute_name :abbr %></th>
      <th class="col-archive-notes"><%= Archive.human_attribute_name :notes %></th>
      <th class="col-archive-assoc">Associations</th>
      <th class="col-archive-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'archive', collection: @archives %>
    </tbody>
  </table>
</div>
