<h1>
  <%= model_name_with_icon Archive, :plural %>
  <span class="btn-group">
    <%= link_to new_archive_path,
                class: 'btn btn-sm btn-primary',
                id: 'btn-new-archive',
                title: 'Add new Archive',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
  </span>
</h1>

<% if @storage %>
  <dl class="row">
    <dt class="col-md-2">associated with Storage</dt>
    <dd class="col-md-10">
      <%= render partial: 'storages/oneline', locals: { storage: @storage } %>
    </dd>
  </dl>
<% end %>
<% if @source %>
  <dl class="row">
    <dt class="col-md-2">associated with Source</dt>
    <dd class="col-md-10">
      <%= render partial: 'sources/oneline', locals: { source: @source } %>
    </dd>
  </dl>
<% end %>

<div id="archives-table">
  <div class="table" id="archives">
    <div class="table-body container-fluid">
      <%= render partial: 'archive', collection: @archives %>
    </div>
  </div>
</div>
