<div class="row form-group">
  <label class="col-md-3 form-control-label">
    <%= model_name_with_icon Collection, :plural %>
    <span class="pull-right">
      <%= content_tag :a,
                      icon('refresh', class: 'fa-fw'),
                      id: 'btn-refresh-nested-fields',
                      class: 'btn btn-sm btn-outline-default',
                      title: t(:refresh_associations, scope: [:views, :modals]),
                      data: { toggle: 'tooltip' } %>
    </span>
  </label>
  <div class="col-md-9">
    <ul id="associate-collections" class="list-group list-group-flush">
      <% @document.collections.each do |collection| %>
        <li id="associated-collection-<%= collection.id %>" class="list-group-item form-control">
          <%= collection.title %>
          <span class="btn-group btn-group-sm pull-right">
            <%= link_to_show_entity collection %>
            <%= link_to document_path(@document.id, sub_action: :deassociate, collection_id: collection.id),
                        method: :patch,
                        remote: true,
                        id: "btn-deassoc-collection-#{collection.id}",
                        class: 'btn btn-sm btn-danger',
                        title: t(:deassociate_collection, scope: [:views, :document, :modals]),
                        data: { toggle: 'tooltip' } do %>
              <%= icon('minus', class: 'fa-fw') %>
            <% end %>
          </span>
        </li>
      <% end %>
      <li id="associate-collection-add" class="list-group-item">
        <% if @unassociated[:collections].count > 0 %>
          <div class="form-group input-group">
            <%= text_field nil,
                           nil,
                           id: 'assoc-collection-input',
                           class: 'form-control form-control-sm',
                           type: 'text',
                           list: 'free-collections',
                           placeholder: t(:search_collections, scope: [:views, :document, :modals]) %>
            <%= content_tag :datalist, id: 'free-collections' do %>
              <% @unassociated[:collections].each do |collection| %>
                <%= content_tag :option, collection.title, data: {'collection-id': collection.id } %>
              <% end %>
            <% end %>
            <div class="input-group-btn">
              <%= content_tag :a,
                              icon('search', class: 'fa-fw'),
                              id: 'btn-show-selected-collection-details',
                              class: 'btn btn-sm btn-outline-info',
                              role: 'button' %>
              <%= content_tag :a,
                              icon('plus', class: 'fa-fw'),
                              id: 'btn-associate-selected-collection',
                              class: 'btn btn-sm btn-primary',
                              role: 'button' %>
            </div>
          </div>
        <% else %>
          <%= t :no_unassociated_found_html, scope: [:views, :modals], what: Collection.model_name.human %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
