<li class="list-group-item">
  <div id="content-translation-<%= content_translation.id %>" class="list-group-item-heading" role="tab">
    <%= icon_for ContentTranslation %>
    <%= content_translation.language.humanize %>
    <a class="pull-right btn btn-sm collapsed"
       aria-controls="content-translation-<%= content_translation.id %>-content"
       aria-expanded="false"
       href="#content-translation-<%= content_translation.id %>-content"
       data-parent="#content-content-translation-accordion"
       data-toggle="collapse">
      <%= icon('search', class: 'fa-fw') %>
    </a>
  </div>
  <div id="content-translation-<%= content_translation.id %>-content"
       class="list-group-item-text collapse"
       aria-labelledby="content-translation-<%= content_translation.id %>"
       role="tabpanel"
       aria-expanded="false">
    <%= render partial: 'content_translations/inner_show', locals: { content_translation: content_translation } %>
  </div>
</li>
