<% content_for :entity_info, flush: true do %>
  <div class="col-place-title">
    <%= place.title %>
  </div>
<% end %>

<% content_for :entity_toolbar_associations, flush: true do %>
  <div class="btn-group btn-group-sm" role="group">
    <% if place.notes.nil? or place.notes.empty? %>
      <a class="btn btn-sm btn-outline-secondary disabled">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% else %>
      <a class="btn btn-sm btn-secondary"
         title="<%= place.notes %>"
         data-toggle="tooltip">
        <%= icon('comment-o', class: 'fa-fw') %>
      </a>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" role="group">
    <%= link_to mentions_path(place_id: place.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Mention.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= place.mentions.count %>
      <%= icon_for Mention %>
    <% end %>
    <span class="btn btn-sm btn-secondary"
          title="<%= t('views.number_linked', what: Person.model_name.human(count: 2)) %>"
          data-toggle="tooltip">
      <%= place.mentioned_people.length %>
      <%= icon_for Person %>
    </span>
    <span class="btn btn-sm btn-secondary"
          title="<%= t('views.number_linked', what: Role.model_name.human(count: 2)) %>"
          data-toggle="tooltip">
      <%= place.mentioned_roles.length %>
      <%= icon_for Role %>
    </span>
    <%= link_to deeds_path(place_id: place.id),
                class: 'btn btn-sm btn-secondary',
                title: t('views.show_linked', what: Deed.model_name.human(count: 2)),
                data: { toggle: 'tooltip' } do %>
      <%= place.mentioned_deeds.length %>
      <%= icon_for Deed %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/index/entity',
           locals: { entity_id: "place-#{place.id}", entity: place } %>
