<h1>
  <%= model_name_with_icon Place, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_place_path,
                       path_to_refresh: places_path,
                       entity_model: Place } %>
</h1>

<% if @deed %>
  <dl class="row">
    <dt class="col-md-2"><%= t('views.linked_with', what: Deed.model_name.human) %></dt>
    <dd class="col-md-10">
      <%= render partial: 'deeds/oneline', locals: { deed: @deed } %>
    </dd>
  </dl>
<% end %>

<div class="row">
  <div id="places-table">
    <div class="table" id="places">
      <div class="table-body container-fluid">
        <%= render partial: 'place', collection: @places %>
      </div>
    </div>
  </div>
</div>
