<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <%= render 'shared/menu' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
          <ol id="breadcrumbs" class="breadcrumb">
            <%= render_breadcrumbs :tag => :li, :separator => '' %>
          </ol>
          <div id="notes">
            <% if flash %>
              <%= render 'shared/flash' %>
            <% end %>
          </div>

          <%= yield %>

          <%= render 'shared/show_modal' %>
          <div class="modal fade" id="form-modal" tabindex="-1" role="dialog"
               aria-labelledby="form-modal-title" aria-hidden="true" data-backdrop="static">
            <%= render 'shared/form_modal' %>
          </div>
        </div>
      </div>
      <footer id="site-footer" class="row">
      </footer>
    </div>
    <%= render 'shared/after_footer' %>
  </body>
</html>
